*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(253, 248, 196);
}


.container{
    background-color: rgb(214, 234, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
    border-radius: 6px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.253);

    
}

.bloco-1{
    width: 120px;
    height: 120px;
    background-color: rgb(247, 144, 144);
    border-radius: 5px;
    text-align: center;
}
.bloco-2{
    width: 120px;
    height: 120px;
    background-color: rgb(160, 129, 243);
    border-radius: 5px;
    text-align: center;
}
.bloco-3{
    width: 120px;
    height: 120px;
    background-color: rgb(176, 252, 169);
    border-radius: 5px;
    text-align: center;
}

.bloco-1:hover{
    opacity: 0.7;
    transition: 0.7s;
}
.bloco-2:hover{
    opacity: 0.7;
    transition: 0.7s;
}
.bloco-3:hover{
    opacity: 0.7;
    transition: 0.7s;
}