*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    background: #1e063d;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 500px;
    height: 100vh;
}