*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #172510;
}

header{
    min-height: 100px;
    background: linear-gradient(to right, #000000,#2e720e);
    color: white;
}

#principal{
    text-align: center;
}