*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #172031;
}

.Login {
    background: rgb (0, 0, .5);
    border-radius: 10px;
    width: 400px;
    padding: 40px;
}