*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(56, 56, 56);
}


.header-container{
    background-color: rgb(29, 88, 29);
    width: 100wh;
    height: 120px;
    box-shadow:2px 1px 3px 0px rgba(0, 0, 0, 0.425);
}

.header-container > h1{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 2.5em;
    text-shadow: 2px 2px 1px black;
}

.nav-container{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}


.nav-links{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    text-shadow: 2px 2px 1px black;
}

.nav-links:hover{
    background-color: rgb(20, 39, 20);
    transition: 0.8s;
}


.container-main{
    display: block;
    margin: auto;
    max-width: 600px;
    height: 700px;
    background-color: rgb(39, 39, 39);
    border-radius: 0px 0px 10px 10px;
    box-shadow:2px 1px 3px 0px rgba(0, 0, 0, 0.425);
    
}

table{
    width: 550px;
    color: white;
    border-collapse: collapse;
}

.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

caption{
    color: rgb(160, 160, 160);
    font-weight: bold;
    padding: 10px;
}

td , th {
    border-bottom: 1px solid black;
    padding: 15px;
    text-align: center;
}


footer{
    color: white;
    text-align: center;
    padding: 10px;
}

img{
    width: 30px;
}